dictionary-v*.txt
data-compiled.*
/.idea
/.vscode
/frontend/.idea
/frontend/.vscode
/bootstrap
/bootstrap.exe
/*.json
/*.zip
/sarfya-dev-server
/sarfya-dev-server.exe
/sarfya-prod-server
/sarfya-prod-server.exe
/sarfya-example
/sarfya-example.exe
/sarfya-generate-json
/sarfya-generate-json.exe
