html, body {
    border: none;
    padding: 0;
    margin: 0;
    background-color: #171722;
    color: #abc;
    font-family: sans-serif;
}

a {
    color: #fc1;
}

p.footer {
    text-align: center;
}

h1 {
    font-size: 4em;
    padding: 0;
    margin: 1em 0 0 0;
    text-align: center;
    font-weight: 100;
}
h6 {
    font-size: 1em;
    padding: 0;
    margin: 0 0 3em;
    text-align: center;
}

div.query-example {
    width: 90ch;
    margin: 0 auto;
    max-width: 90%;
    padding: 0.25em;
}
div.query-example > a {
    color: #abc;
}
div.query-example > a:hover {
    color: #def;
}
div.query-example:last-of-type {
    padding-bottom: 2em;
}

div.error {
    color: #f73;
    text-align: center;
    margin: 1em auto;
    width: 90ch;
    max-width: 90%;
}

div.warning {
    color: #ff3;
    text-align: center;
    margin: 1em auto;
    width: calc(90ch*(1/0.66));
    max-width: 90%;
    font-size: 0.66em;
}

div.example {
    box-sizing: border-box;
    margin: 1.5em auto;
    width: 90ch;
    max-width: 90%;
}

div.sentence {
    color: #89a;
    font-style: italic;
    line-height: 1.25em;
    width: 100%;
}
div.sentence.lang-navi {
    font-size: 1.25em;
    font-weight: 600;
    color: #abc;
    font-style: normal;
    margin-bottom: 0.25em;
}

div.sentence > a, div.sentence > span {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0);
}
div.sentence > span.hover {
    color: #abc;
    border-color: #789;
}
div.sentence > a.hover {
    color: #def;
    border-color: #abc;
}
div.sentence > a.selected, div.sentence > span.selected {
    color: #fc1;
}
div.sentence > a.adjacent, div.sentence > span.adjacent {
    border-color: #fc1;
}

input.search-box {
    display: block;
    margin: 1em auto;
    width: 60ch;
    max-width: 87%;
    background: none;
    padding: 0.5em;
    font-size: 1.5em;
    color: #789;
    outline: none;
    border: 1px solid;
    border-radius: 1em;
}
input.search-box:focus {
    color: #abc;
}

div.example-source {
    font-size: 0.75em;
    margin-bottom: 0em;
}
div.example-source a {
    color: #789;
    text-decoration: none;
}
div.example-source a:hover {
    color: #abc;
}
a.example-flag {
    margin: 0;
    display: inline-block;
    text-decoration: none;
    font-size: 0.66em;
}
a.example-flag.flag-non-canon {
    color: #cd4;
}
a.example-flag.flag-proverb {
    color: #4c5;
}
a.example-flag.flag-reef-dialect {
    color: #3cc;
}
a.example-flag.flag-transcribed {
    color: #ace;
}

div.group-word-list {
    margin-top: 1.5em;
    margin-bottom: 1em;
    padding-bottom: 0.125em;
    font-size: 2em;
    border-bottom: 1px solid #789;
    color: #789;
    display: flex;
}
div.group-word-list.idx-0 {
    margin-top: 0.5em;
}
div.group-word-list > .word {
    padding: 0.25em;
}
div.group-word-list > .word:first-child {
    margin-left: auto;
}
div.group-word-list > .word:last-child {
    margin-right: auto;
}

